* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* Header */
header, main {
    margin: 0 240px 55px 240px;
}
nav, ul {
    display: flex;
    align-items: center;
}
nav {
    justify-content: space-between;
}
ul {
    list-style: none;
    gap: 30px;
}
.nav-options {
    display: flex;
    align-items: center;
    gap: 32px;
}
.nav-logos {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-image {
    width: 80px;
    height: 40px;
}
.nav-heading {
    font-size: 45px;
    font-weight: bold;
}
.special {
    color: #FF42A5;
}
.second-ul li {
    font-size: 18px;
    font-weight: 500;
    color: #3C354F;
}

/* Banner */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner img {
    width: 720px;
    height: 680px;
}
.banner-main-title {
    font-size: 95px;
    font-weight: bolder;
    color: #F948B2;
    margin-bottom: 24px;
}
.banner-sub-title {
    font-size: 48px;
    font-weight: 600;
}
.details {
    margin-bottom: 24px;
}
.details h6 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}
.details h6 i {
    color: #F948B2;
}
.primary-btn {
    background-color: #FF42A5;
    color: #fff;
    padding: 21px 40px 21px 40px;
    border-radius: 40px;
    border: 0;
    font-size: 20px;
    font-weight: 500;
}
.special-btn {
    background-color: #4EC5F7;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 40px;
    border: 0;
    padding: 21px 40px 21px 40px;
    margin-left: 24px;
}

/* Gamer */
.gamer {
    display: flex;
    align-items: center;
    gap: 52px;
    margin-bottom: 175px;
}

.gamer-content {
    text-align: right;
}

.gamer-content .gamer-title {
    font-size: 48px;
    font-weight: bold;
    color: #F948B2;
    margin-bottom: 24px;
}

.gamer-content .gamer-description {
    font-size: 18px;
    color: #534C64;
    margin-bottom: 32px;
}

.gamer-content .primary-btn {
    margin-bottom: 30px;
}

.gamer-content .extra {
    font-size: 24px;
    font-weight: 500;
    color: #534C64;
    margin-bottom: 24px;
}

.gamer-content .quote {
    font-size: 32px;
    font-weight: bold;
    color: #534C64;
}

/* Online-Games */
.online-games {
    margin-bottom: 120px;
}
.online-games-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}
.online-games-description {
    font-size: 18px;
    color: #534C64;
    text-align: center;
    margin-bottom: 48px;
}
.online-games-container {
    display: flex;
    gap: 24px;
    /* align-items: center; */
    justify-content: center;
}
.online-games-container .game-description {
    font-size: 20px;
    font-weight: 500;
    color: #534C64;
    margin-top: 24px;
}

/* Container */
.first-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
}
.container-info {
    max-width: 355px;
    text-align: right;
}
.container-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 24px;
}
.container-description {
    font-size: 18px;
    color: #534C64;
}
.container-images {
    position: relative;
}
.container-images .special-img {
    position: absolute;
    top: 350px;
    left: -160px;
}

.second-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
}
.second-container .container-images .special-img {
    left: 525px;
}

/* Games Container */
.games-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    margin-bottom: 130px;
}
.games-container-title {
    font-size: 48px;
    font-weight: bold;
    color: #534C64;
    text-align: center;
    margin-bottom: 30px;
}
.games-container-title:hover {
    color: #000;
}
.first-part, .second-part {
    display: flex;
    gap: 50px;
}
.game {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 5px;
}
.game:hover {
    border: 1.5px solid #F948B2;
    border-radius: 40px;
    color: #F948B2;
}
.game-name {
    font-size: 20px;
    font-weight: 600;
}

/* Footer */
footer {
    width: 100%;
    height: 635px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
}
.footer-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 120px;
    margin-bottom: 55px;
}
.footer-image {
    width: 80px;
    height: 40px;
}
.footer-title {
    font-size: 45px;
    font-weight: bold;
}
.options {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    gap: 60px;
    margin-bottom: 55px;
}
.social-media-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 65px;
}
.special1 {
    border-radius: 50%;
}
.special2 {
    border-radius: 5px;
}
.extras {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #999999;
}
.extras .first {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-bottom: 18px;
}

/* Responsive for Mobile Devices */
.hide {
    display: none;
}

@media screen and (max-width: 576px) {
    /* Header & Nav */
    header, main {
        margin: 0;
    }
    nav, .second-ul, .nav-options {
        flex-direction: column;
    }
    nav {
        margin-top: 100px;
        gap: 62px;
    }
    .nav-options {
        gap: 36px;
    }
    .second-ul {
        gap: 62px;
    }

    /* Banner */
    .banner {
        margin-top: 74px;
        flex-direction: column-reverse;
        gap: 150px;
    }
    .banner-image img {
        width: 100%;
    }

    /* Main */
    /* Gamer */
    .gamer {
        margin-top: 200px;
        flex-direction: column;
        gap: 60px;
    }
    .gamer-image img {
        width: 100%;
    }
    .gamer-content {
        text-align: center;
    }

    /* Online Games */
    .online-games-container {
        flex-direction: column;
    }
    .online-games-container img {
        width: 100%;
    }
}